h1{
    color: darkblue;
    text-align: center;
}
h2{
    color: cadetblue;
}
body{
    padding-left: 15px;
}
.Samp{
    font-style: italic;
    font-size: 16px;
}
p{
    font-size: 18px;
}
.Prolog{
    font-size: 20px;
}
